
@{
    ViewBag.Title = "ContactPage";
}

<h2>Contact Us</h2>

<div class="row">
    <div class="col-md-4">
        <p>
            <h3> AMERICAS (MEXICO CITY, MEXICO) </h3>
            Address: Calle Luz Saviñon 519 Colonia del Valle, Benito Juarez 03100 Ciudad de Mexico
        </p>
    </div>
    <div class="col-md-4">
        <p>
            <h3> EAST AFRICA (NAIROBI, KENYA) </h3>
            Telephone: +254-20-4283000

            Address: Office: Riverside Studios, Riverside Lane, Off Riverside Drive, Nairobi, Kenya

            Postal: PO Box 1527, 00606 Sarit Centre, Nairobi, Kenya
        </p>
    </div>
    <div class="col-md-4">
        <p>
            <h3> EAST AND SOUTH EAST ASIA AND THE PACIFIC </h3>
            Telephone: +66 (0) 98 754 3995

            Fax: +66-29392534

            Address: M.Thai Tower, All Seasons Place, 87 Wireless Road, Lumpini, Phatumwan, Bangkok, THAILAND 10330
        </p>
    </div>
    <div class="col-md-4">
        <p>
            <h3> LONDON, UNITED KINGDOM </h3>
            Telephone: +44-20-74135500

            Fax number: +44-20-79561157

            Address: 1 Easton Street, London, WC1X 0DW, UK
        </p>
    </div>
    <div class="col-md-4">
        <p>
            <h3> SOUTHERN AFRICA (JOHANNESBURG, SOUTH AFRICA) </h3>
            Telephone: +27-112836000

            Fax number: +27-114471734

            Address: 3 on Glenhove, Melrose Estate, 2196, Johannesburg, South Africa
        </p>
    </div>
    <div class="col-md-4">
        <p>
            <h3> WEST AND CENTRAL AFRICA (DAKAR, SENEGAL) </h3>
            Telephone: +221 33 869 30 03 

            Address: Point E – Immeuble Malaado Plazza, 6ème Etage
            P.O. Box 47582 – Dakar, SENEGAL
        </p>
    </div>
    <div class="col-md-4">
        <p>
            <h3> MIDDLE EAST AND NORTH AFRICA </h3>
            Middle East <br>

            Beirut office

            Telephone: +961 1 748751

            Address: 114 Cairo Street, Massabki-Serhal Building, Bloc A, 7th floor, Hamra, Beirut, Lebanon

            Email: middleeast@amnesty.org
            <br>

            North Africa <br>

            Tunis office

            Telephone: +216 31360800

            Address: C01-05, 1er étage, Bloc C, EPI Centre, 16 rue de Syrie, 1001 Tunis, Tunisia

            Email: northafrica@amnesty.org
            <br>

            Israel / Palestine <br>

            Jerusalem office

            Telephone: +972 732797672

            Email: israelpalestine@amnesty.org
            <br>

            Iran <br>

            London office

            Telephone: +44 20 74135500

            Address: 1 Easton Street, London, WC1X 0DW, UK

            Email: contactus@amnesty.org
        </p>
    </div>
</div>
