@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>We need peace in the world. We need justice for those that flee.</h1>
    <p class="lead">Join us at Justice 4 Refugee by becoming a volunteer or making a donation to help those in need.</p>
</div>

<div class="row">
    <div class="col-md-7">
        <p>
            Most people in the world have had the experience of leaving the place where they grew up. Maybe they will only move as far as the next village or city. But for some people, they will need to leave their country entirely – sometimes for a short time, but sometimes forever.

            Every day, all over the world, people make one of the most difficult decisions in their lives: to leave their homes in search of a safer, better life.

            There are many reasons why people around the globe seek to rebuild their lives in a different country. Some people leave home to get a job or an education. Others are forced to flee persecution or human rights violations such as torture. Millions flee from armed conflicts or other crises or violence. Some no longer feel safe and might have been targeted just because of who they are or what they do or believe – for example, for their ethnicity, religion, sexuality or political opinions.

            These journeys, which all start with the hope for a better future, can also be full of danger and fear. Some people risk falling prey to human trafficking and other forms of exploitation. Some are detained by the authorities as soon as they arrive in a new country. Once they’re settling in and start building a new life, many face daily racism, xenophobia and discrimination.

            Some people end up feeling alone and isolated because they have lost the support networks that most of us take for granted – our communities, colleagues, relatives and friends.
        </p>
    </div>
    <div class="col-md-3">
        <img src="~/Images/girl.jpg" width="400" height=300"/>

    </div>
</div>
