
@{
    ViewBag.Title = "Narratives";
}

<h2>Narratives</h2>

<h3>Narrative 1: Volunteer </h3>

<img src="~/Images/UseCase1.png" width="400" height="300" />

<h3>Narrative 2: Donate </h3>

<img src="~/Images/UseCase2.png" width="400" height="300" />

<h3>Narrative 3: Contact Us </h3>

<img src="~/Images/UseCase3.png" width="400" height="300" />

<h3>Narrative 4: Action Request </h3>

<img src="~/Images/UseCase4.png" width="400" height="300" />

